<div class="card mt-4 p-3 shadow-lg">
    <div class="row productDetails">
        <div class="col-auto">
            <img
                src="{{product.thumbnail}}"
                alt="{{product.title}}"
                class="img-fluid"
            />
        </div>
        <div class="col">
            <h1>{{product.title}}</h1>
            <p>{{product.description}}</p>
            <p>${{product.price}}</p>
            <button onclick="addToCart('{{product._id}}')">Agregar a carrito</button>
        </div>
    </div>

</div>

<script src="/js/productDetails.js"></script>